/*


Generally similar stylings

# each table cell normally has a height and width of 1 rem

# each of your different stylings for each possible table square needs to be here



*/
.plot{
	background-color:red;
}
.unplot{
	background-color:white;
}
.tableCell{
	width:2rem;
	height:2rem;
}